{% extends 'base_admin.html' %}

{% block title %}Admin Login{% endblock %}

{% block content %}
<div class="container">
    <div class="auth-form">
        <h2>Admin Login</h2>
        <p class="info-text">Enter the admin password to access the dashboard</p>

        <form method="post" class="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required class="form-control"
                    placeholder="Enter admin password">
            </div>

            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>

        <div class="form-footer">
            <p class="info-text">If you’re not part of the crew, this door isn’t meant for you.
                Go back to the shore and continue as a user.
            </p>
            <a href="{% url 'select_role_home' %}" class="link">Go back to shore</a>
        </div>
    </div>

  
</div>
{% endblock %}